$ cat .gitignore
private.properties

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# carpetas #
/dist/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Programa_3_code/build/
/Programa_3_code/dist/
/Programa_1_code/build/
/Programa_4/nbproject/private/
